{{!--
<div class="col-xs-12">
	<span>@ToDo: Create new vjournal <a href="http://indexiatech.github.io/ember-components/#/component/component.wysiwyg/simple">wysiwyg</a>, use X-ALT-DESC propery? use markdown?</span><hr />
</div>
--}}
<div class="col-xs-12">
	<div class="row diary-book">
		<div class="col-xs-12 diary-top">
			<div class="diary-marker" {{action 'goToConfirm'}}>
				<i class="fa fa-4x fa-bookmark"></i>
				<span class="diary-marker-num">{{numToConfirm}}</span>
			</div>
		</div>
		<div class="col-xs-12 diary-center">
			<div class="row">
				<div class="col-xs-6">
					<div class="row text-left">
						<div class="col-xs-2 pull-left diary-first-page-controls">
							<span {{action 'twoDaysLess'}}><i class="fa fa-arrow-left"></i></span>
							<span {{action 'editFirst'}}><i class="fa fa-pencil"></i></span>
						</div>
						<div class="col-xs-10">
							{{viewDateFirstPage}}
						</div>
					</div>
					<div class="row">
					{{#each componentsFirstPage}}
						<div class="col-xs-12">
						{{vcalendar-agenda-item vcomponent=this}}
						</div>
					{{/each}}
					</div>
				</div>
				<div class="col-xs-6">
					<div class="row text-left">
						<div class="col-xs-9 col-xs-offset-1">
							{{viewDateSecondPage}}
						</div>
						<div class="col-xs-2 pull-right diary-second-page-controls">
							<span {{action 'editSecond'}}><i class="fa fa-pencil"></i></span>
							<span {{action 'twoDaysMore'}}><i class="fa fa-arrow-right"></i></span>
						</div>
					</div>
					<div class="row">
					{{#each componentsSecondPage}}
						<div class="col-xs-12">
						{{vcalendar-agenda-item vcomponent=this}}
						</div>
					{{/each}}
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 diary-bottom"></div>
	</div>
</div>