{{!--
<span class="badge" style="background-color: green;">{{countLow}}</span>
<span class="badge" style="background-color: gold;">{{countNormal}}</span>
<span class="badge" style="background-color: red;">{{countHigh}}</span>
<h4 class="list-group-item-heading">{{calendarName}}</h4>
<p class="list-group-item-text">
	{{calendarDesc}}
	{{#bs-button clicked="removeCalendar" clickedParam=this type="warning" icon="fa fa-trash-o" bubbles=false}}{{t calendar.remove}}{{/bs-button}}
	{{#bs-button clicked="editCalendar" clickedParam=this type="warning" icon="fa fa-pencil" bubbles=false}}{{t calendar.edit}}{{/bs-button}}
	{{#bs-button clicked="saveCalendar" clickedParam=this type="warning" icon="fa fa-save" bubbles=false}}{{t calendar.save}}{{/bs-button}}
</p>
--}}
<!-- the icon as a time element -->
<time datetime="" class="icon">
	<em class="block">{{calendarDesc}}</em>
	<strong class="block" {{bind-attr style="icon_style"}}>{{calendarName}}</strong>
	<span class="block first">{{countLow}} ToDos</span> <!--first is a hack for :first-child bug-->
	<span class="block">{{countNormal}} Events</span>
	<span class="block">{{countHigh}} Journals</span>
	<div class="actions">
		<div {{action "editCalendar" bubbles=false}} {{bind-attr style="background_color"}}><span>{{t calendar.edit}}</span> <i class="fa fa-pencil pull-right"></i></div>
		<div {{action "saveCalendar" bubbles=false}} {{bind-attr style="background_color"}}><span>{{t calendar.save}}</span> <i class="fa fa-save pull-right"></i></div>
		<div {{action "removeCalendar" bubbles=false}} {{bind-attr style="background_color"}}><span>{{t calendar.remove}}</span> <i class="fa fa-trash-o pull-right"></i></div>
	</div>
</time>
