<div class="col-xs-6 agenda-withoutstart">
	<div class="text-center agenda-withoutstart-title">Without Date:</div>
	{{#view 'droppablevcomponent' class="text-center agenda-withoutstart-droppable"}}
		{{t "calendar.agenda.removeDate"}}
	{{/view}}
	{{#each componentsWithoutDtStart}}
		{{vcalendar-agenda-item vcomponent=this}}
	{{/each}}
	<div class="list-divider">
		<h4 class="list-divider-title text-center">Hot list / Urgent</h4>
		<h4 class="list-divider-title text-center">Next</h4>
		<h4 class="list-divider-title text-center">Backlog</h4>
		<h4 class="list-divider-title text-center">Waiting</h4>
		<h4 class="list-divider-title text-center">Paused</h4>
		<h4 class="list-divider-title text-center">Archived</h4>
		<small>Add this property as a x-*?</small>
	</div>
</div>
<div class="col-xs-6 agenda-withstart">
	<div class="text-center agenda-withstart-title">With Date:</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="row text-center agenda-toolbar">
				<div class="col-xs-2">
					<span {{action oneYearLess}}>&lt;</span>&nbsp;{{viewYear}}&nbsp;<span {{action oneYearMore}}>&gt;</span>
				</div>
				<div class="col-xs-6">
					<span class="agenda-toolbar-control pull-left" {{action oneMonthLess}}>&lt;-{{viewMonthOneLess}}</span>
					<span class="agenda-toolbar-control text-center">&nbsp;&nbsp;{{viewMonth}}&nbsp;&nbsp;</span>
					<span class="agenda-toolbar-control pull-right" {{action oneMonthMore}}>{{viewMonthOneMore}}-&gt;</span>
				</div>
				<div class="col-xs-4">
					<span class="agenda-toolbar-control pull-left" {{action oneWeekLess}}>&lt;-&nbsp;{{viewWeekOneLess}}</span>
					<span class="agenda-toolbar-control text-center">&nbsp;&nbsp;{{viewWeek}}&nbsp;&nbsp;</span>
					<span class="agenda-toolbar-control pull-right" {{action oneWeekMore}}>{{viewWeekOneMore}}&nbsp;-&gt;</span>
				</div>
			</div>
		</div>
		<div class="col-xs-12 agenda-weekday">
			{{#view 'droppablevcomponent' class="agenda-day" day=firstDayWeek}}
				<div class="agenda-day-legend">{{firstDayWeekName}}</div>
				<div class="agenda-day-events">
					{{#each firstDayWeekEvents}}
						{{vcalendar-agenda-item vcomponent=this}}
					{{/each}}
				</div>
			{{/view}}
		</div>
		<div class="col-xs-12 agenda-weekday">
			{{#view 'droppablevcomponent' class="agenda-day" day=secondDayWeek}}
				<div class="agenda-day-legend">{{secondDayWeekName}}</div>
				<div class="agenda-day-events">
					{{#each secondDayWeekEvents}}
						{{vcalendar-agenda-item vcomponent=this}}
					{{/each}}
				</div>
			{{/view}}
		</div>
		<div class="col-xs-12 agenda-weekday">
			{{#view 'droppablevcomponent' class="agenda-day" day=thirdDayWeek}}
				<div class="agenda-day-legend">{{thirdDayWeekName}}</div>
				<div class="agenda-day-events">
					{{#each thirdDayWeekEvents}}
						{{vcalendar-agenda-item vcomponent=this}}
					{{/each}}
				</div>
			{{/view}}
		</div>
		<div class="col-xs-12 agenda-weekday">
			{{#view 'droppablevcomponent' class="agenda-day" day=fourthDayWeek}}
				<div class="agenda-day-legend">{{fourthDayWeekName}}</div>
				<div class="agenda-day-events">
					{{#each fourthDayWeekEvents}}
						{{vcalendar-agenda-item vcomponent=this}}
					{{/each}}
				</div>
			{{/view}}
		</div>
		<div class="col-xs-12 agenda-weekday">
			{{#view 'droppablevcomponent' class="agenda-day" day=fifthDayWeek}}
				<div class="agenda-day-legend">{{fifthDayWeekName}}</div>
				<div class="agenda-day-events">
					{{#each fifthDayWeekEvents}}
						{{vcalendar-agenda-item vcomponent=this}}
					{{/each}}
				</div>
			{{/view}}
		</div>
		<div class="col-xs-12">
			<div class="row agenda-weekend">
				<div class="col-xs-6">
					{{#view 'droppablevcomponent' class="agenda-weekend-day" day=sixthDayWeek}}
						<div class="agenda-day-legend">{{sixthDayWeekName}}</div>
						<div class="agenda-day-events">
							{{#each sixthDayWeekEvents}}
								{{vcalendar-agenda-item vcomponent=this}}
							{{/each}}
						</div>
					{{/view}}
				</div>
				<div class="col-xs-6">
					{{#view 'droppablevcomponent' class="agenda-weekend-day" day=seventhDayWeek}}
						<div class="agenda-day-legend">{{seventhDayWeekName}}</div>
						<div class="agenda-day-events">
							{{#each seventhDayWeekEvents}}
								{{vcalendar-agenda-item vcomponent=this}}
							{{/each}}
						</div>
					{{/view}}
				</div>
			</div>
		</div>
		<small>Colors by tag? by status? by calendar?</small>
		{{!--
		<div class="col-xs-12">
			<span>Events</span>
			<ul>
			{{#each vevents}}
				<li>model: {{this}}, description: {{description}}, summary: {{summary}}, isDirty: {{isDirty}}, dtstart {{dtstart}}</li>
			{{/each}}
			</ul>
			<span>Journals</span>
			<ul>
			{{#each vjournals}}
				<li>model: {{this}}, description: {{description}}, summary: {{summary}}, isDirty: {{isDirty}}, dtstart {{dtstart}}</li>
			{{/each}}
			</ul>
		</div>
		--}}
	</div>
</div>
