<div class="col-xs-6">
	<span>Todos</span>
	{{#each vtodos}}
		{{vcalendar-agenda-item vcomponent=this}}
	{{/each}}
</div>
<div class="col-xs-6">
	<span>Events</span>
	<ul>
	{{#each vevents}}
		<li>model: {{this}}, description: {{description}}, summary: {{summary}}, isDirty: {{isDirty}}</li>
	{{/each}}
	</ul>
	<span>Journals</span>
	<ul>
	{{#each vjournals}}
		<li>model: {{this}}, description: {{description}}, summary: {{summary}}, isDirty: {{isDirty}}</li>
	{{/each}}
	</ul>
</div>
