<div class="col-xs-12">
	<span>@ToDo: Create new vjournal <a href="http://indexiatech.github.io/ember-components/#/component/component.wysiwyg/simple">wysiwyg</a></span><hr />
</div>
<div class="col-xs-6 well">
	<div class="row text-center">
		<div class="col-xs-2 pull-left">
			<span {{action twoDaysLess}}>&lt;-</span>
		</div>
		<div class="col-xs-10">
			{{viewDateFirstPage}}
		</div>
	</div>
	<div class="row">
	{{#each componentsFirstPage}}
		<div class="col-xs-12">
		{{vcalendar-agenda-item vcomponent=this}}
		</div>
	{{/each}}
	</div>
</div>
<div class="col-xs-6 well">
	<div class="row text-center">
		<div class="col-xs-10">
			{{viewDateSecondPage}}
		</div>
		<div class="col-xs-2 pull-right">
			<span {{action twoDaysMore}}>-&gt;</span>
		</div>
	</div>
	<div class="row">
	{{#each componentsSecondPage}}
		<div class="col-xs-12">
		{{vcalendar-agenda-item vcomponent=this}}
		</div>
	{{/each}}
	</div>
</div>
