<span class="badge" style="background-color: green;">{{countLow}}</span>
<span class="badge" style="background-color: gold;">{{countNormal}}</span>
<span class="badge" style="background-color: red;">{{countHigh}}</span>
<h4 class="list-group-item-heading">{{calendarName}}</h4>
<p class="list-group-item-text">{{calendarDesc}}</p>