<small>this: {{this}} {{mola}} {{model}} {{model_type}}</small>
<br />

{{!-- NAV-TABS --}}
<div class="tabbable">
	<ul class="nav nav-tabs">

		<li {{bind-attr class="onEditTabBasic:active"}} {{action "showEditBasic"}}><a data-toggle="tab">
			<span class="normal">Basic Info</span><span class="min">Basic</span>
		</a></li>
		<li {{bind-attr class="onEditTabTags:active"}} {{action "showEditTags"}}><a data-toggle="tab">
			<span class="normal">Categories</span><span class="min">Tag</span>
		</a></li>
		<li {{bind-attr class="onEditTabMore:active"}} {{action "showEditMore"}}><a data-toggle="tab">
			<span class="normal">More options</span><span class="min">Extended</span>
		</a></li>
		<li {{bind-attr class=":private onEditTabPeriodicity:active"}} {{action "showEditPeriodicity"}}><a data-toggle="tab">
			<span class="normal">Periodicity + Alarms</span><span class="min">Recurrence</span>
		</a></li>

		<li class="action">
			<a {{action "submit"}} class="btn btn-success" role="button"><i class="fa fa-save"></i> {{t calendar.form.save}}</a>
			{{!-- alternatives:
			{{#bs-button type="success" clicked="submit" clickedParam="this" icon="fa fa-save"}}{{t calendar.form.save}}{{/bs-button}}
			{{submit}}
			--}}
		</li>
		<li class="action">
			<a {{action "cancel"}} class="btn btn-warning" role="button"><i class="fa fa-undo"></i> {{t calendar.form.cancel}}</a>
		</li>
		{{#unless model.isNew}}
		<li class="action">
			<a {{action "remove"}} class="btn btn-danger" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i> {{t calendar.form.remove}}</a>
		</li>
		{{/unless}}
	</ul>
</div>

{{!-- NAV-TABS --}}
{{#form-for model}}
<div class="tab-content">

	{{!-- Basic: Image (first img attach), Summary, Description, Location, Duration, Start & End date (event), Due  & Completed(ToDo) --}}
	<div id="HowManyEditBasic" {{bind-attr class=":tab-pane :fade :well onEditTabBasic:active onEditTabBasic:in"}}>
		<form class="form-horizontal" role="form">
			<div class="row">
				<div class="col-xs-3 text-center">
					{{!-- IMAGE --}}
					<br /><br /><br /><br /><br /><br />
					<span>Image</span>
					<br /><br /><br /><br />
				</div>
				<div class="col-xs-9">
					{{input summary hintTranslation="calendar.vcomponent.form.summary.hint" labelTranslation="calendar.vcomponent.form.summary.label"}}

					<div class="form-group"><a class="col-sm-10 col-sm-offset-2" href="http://indexiatech.github.io/ember-components/#/component/component.wysiwyg/simple">¿@ToDo: wysiwyg?</a></div>
					{{input description hintTranslation="calendar.vcomponent.form.description.hint" labelTranslation="calendar.vcomponent.form.description.label"}}

					{{input location hintTranslation="calendar.vcomponenttime.form.location.hint" labelTranslation="calendar.vcomponenttime.form.location.label"}}

				</div>
			</div>

			<div class="row well">
				{{#if model.isNew}}
				{{!-- event or todo --}}
				<div class="col-xs-12">
					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button type="button" {{bind-attr class=":btn :btn-default isEvent:active"}} {{action "sendTmpComponentAsEvent"}}>{{t calendar.vcomponent.form.new.vevent}}</button>
						</div>
						<div class="btn-group">
							<button type="button" {{bind-attr class=":btn :btn-default isTodo:active"}} {{action "sendTmpComponentAsToDo"}}>{{t calendar.vcomponent.form.new.vtodo}}</button>
						</div>
						{{!-- Created in the diary
						<div class="btn-group">
							<button type="button" {{bind-attr class=":btn :btn-default isJournal:active"}} {{action "sendTmpComponentAsJournal"}}>{{t calendar.vcomponent.form.new.vjournal}}</button>
						</div>
						--}}
					</div>
				</div>
				<div class="clearfix"></div>
				<br /><br />
				{{/if}}

				<div class="col-xs-6">
					{{#if isEvent}}
						{{input dtstart as="date" hintTranslation="calendar.vcomponent.form.dtstart.hint" labelTranslation="calendar.vcomponent.form.dtstart.label"}}

						{{input dtend as="date" hintTranslation="calendar.vevent.form.dtend.hint" labelTranslation="calendar.vevent.form.dtend.label"}}
					{{/if}}

					{{#if isTodo}}
						{{!-- UnUsed attrs: percent_complete, completed --}}
						{{input due as="date" hintTranslation="calendar.vtodo.form.due.hint" labelTranslation="calendar.vtodo.form.due.label"}}
					{{/if}}
				</div>

				<div class="col-xs-6">
					{{input duration hintTranslation="calendar.vcomponenttime.form.duration.hint" labelTranslation="calendar.vcomponenttime.form.duration.label"}}
				</div>
			</div>
		</form>
	</div>

	<div id="HowManyEditTags" {{bind-attr class=":tab-pane :fade :well onEditTabTags:active onEditTabTags:in"}}>
		{{input categories hintTranslation="calendar.vcomponent.form.categories.hint" labelTranslation="calendar.vcomponent.form.categories.label"}}

		<p>@ToDo: <a href="http://ivaynberg.github.io/select2/#tags">Select2: select boxes</a>, <a href="https://github.com/dockyard/ember-easyForm/wiki/Using-select2-with-easyForm">Using select2 with easyForm</a>, <a href="http://indexiatech.github.io/ember-components/#/component/component.tree/multiselection">Tree with Multi Selection</a></p>
	</div>

	<div id="HowManyEditMore" {{bind-attr class=":tab-pane :fade :well onEditTabMore:active onEditTabMore:in"}}>

		{{!--view Ember.Select content=classOptions optionValuePath="content.id" optionLabelPath="content.name" selection=classSelected--}}
		{{!--input class hintTranslation="calendar.vcomponent.form.class.hint" labelTranslation="calendar.vcomponent.form.class.label"--}}
		{{input class as='select'
			selection="controller.classSelected" collection="controller.classOptions" optionValuePath="content.id" optionLabelPath="content.name"
			labelTranslation="calendar.vcomponent.form.class.hint"
		}}

		{{input url as="url" hintTranslation="calendar.vcomponent.form.url.hint" labelTranslation="calendar.vcomponent.form.url.label"}}

		<span>Others: Attach, Attendee, Comment, Contact, Resources, Geo, Organizer</span>
	</div>

	<div id="HowManyEditPeriodicity" {{bind-attr class=":tab-pane :fade :well onEditTabPeriodicity:active onEditTabPeriodicity:in"}}>
		{{!-- Priority --}}
		<div class="row">
			<p class="col-xs-12">Choose your difficulty / satisfying:</p>
			<div class="row">
				<div class="col-xs-2 col-xs-offset-1">
					<a {{bind-attr class=":btn :btn-block :btn-very-easy isVeryEasy:active"}} {{action "setVeryEasy"}}><i class="fa fa-star-o fa-2x"></i><br />Very easy</a>
				</div>
				<div class="col-xs-2">
					<a {{bind-attr class=":btn :btn-block :btn-easy isEasy:active"}} {{action "setEasy"}}><i class="fa fa-star-o"></i><br />Easy</a>
				</div>
				<div class="col-xs-2">
					<a {{bind-attr class=":btn :btn-block :btn-medium isMedium:active"}} {{action "setMedium"}}><i class="fa fa-star-half-empty fa-flip-horizontal"></i><br />Medium</a>
				</div>
				<div class="col-xs-2">
					<a {{bind-attr class=":btn :btn-block :btn-difficult isDifficult:active"}} {{action "setDifficult"}}><i class="fa fa-star"></i><br />Difficult</a>
				</div>
				<div class="col-xs-2">
					<a {{bind-attr class=":btn :btn-block :btn-very-difficult isVeryDifficult:active"}} {{action "setVeryDifficult"}}><i class="fa fa-star fa-2x"></i><br />Very Difficult</a>
				</div>
			</div>
		</div>
		<p>vAlarms, Recurrence (exdate, exrule, rrule, rdate, rstatus)</p>
	</div>

	{{!-- Hidden: dtstamp, last-mod, recurdid, related, uid, x-prop --}}
</div>
{{/form-for}}