{{!-- @ToDo: Red & Green color must be 100% heigth --}}
<div class="col-xs-12">
	<div class="row" style="min-height: 150px;">
		{{vevent-cancelled eventStatusCancelled="eventStatusCancelled"}}
		<div class="col-xs-8">
			{{#each event in eventsTentative}}
				{{vevent-toconfirm vevent=event}}
			{{/each}}
			{{#each event in eventsTentative}}
				{{vevent-toconfirm vevent=event}}
			{{/each}}
			{{#each event in eventsTentative}}
				{{vevent-toconfirm vevent=event}}
			{{/each}}
			{{#each event in eventsTentative}}
				{{vevent-toconfirm vevent=event}}
			{{/each}}
			{{#each event in eventsTentative}}
				{{vevent-toconfirm vevent=event}}
			{{/each}}
			{{#each event in eventsTentative}}
				{{vevent-toconfirm vevent=event}}
			{{/each}}
			{{#each event in eventsTentative}}
				{{vevent-toconfirm vevent=event}}
			{{/each}}
			{{#each event in eventsTentative}}
				{{vevent-toconfirm vevent=event}}
			{{/each}}
			{{#each event in eventsTentative}}
				{{vevent-toconfirm vevent=event}}
			{{/each}}
			{{#each event in eventsTentative}}
				{{vevent-toconfirm vevent=event}}
			{{/each}}
			{{#each event in eventsTentative}}
				{{vevent-toconfirm vevent=event}}
			{{/each}}
			{{#each event in eventsTentative}}
				{{vevent-toconfirm vevent=event}}
			{{/each}}
		</div>
		{{vevent-confirmed eventStatusConfirmed="eventStatusConfirmed"}}
	</div>
</div>