{{navbar-fixed-top}}

<div class="container-fluid">

	{{!--<small>Edit {{this}} {{model}} {{mola}}</small>--}}
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			{{#form-for model}}

				{{partial "vcalendar-form"}}

			{{/form-for}}
		</div>
	</div>
</div>
