<small>new {{this}} {{model}} {{mola}} {{tmp_model_type}}</small>
<br />
<br />
<div class="well">
	<div class="btn-group btn-group-justified">
		<div class="btn-group">
			<button type="button" {{bind-attr class=":btn :btn-default isEvent:active"}} {{action asEvent}}>{{t calendar.vcomponent.form.new.vevent}}</button>
		</div>
		<div class="btn-group">
			<button type="button" {{bind-attr class=":btn :btn-default isTodo:active"}} {{action asTodo}}>{{t calendar.vcomponent.form.new.vtodo}}</button>
		</div>
		<div class="btn-group">
			<button type="button" {{bind-attr class=":btn :btn-default isJournal:active"}} {{action asJournal}}>{{t calendar.vcomponent.form.new.vjournal}}</button>
		</div>
	</div>
</div>
<br />

{{#form-for tmp_component}}

<div class="well">
	<form class="form-horizontal" role="form">
		{{!-- vcomponent mixing:
		UnUsed attrs:
		attach, comment, status	//Descriptive
		attendee, contact, organizer, recurrence_id, related_to, uid	//Relationship
		exdate, exrule, rdate, rrule, rstatus	//Recurrence
		dtstamp //Change Management
		--}}
		{{input summary hintTranslation="calendar.vcomponent.form.summary.hint" labelTranslation="calendar.vcomponent.form.summary.label"}}

		{{input description hintTranslation="calendar.vcomponent.form.description.hint" labelTranslation="calendar.vcomponent.form.description.label"}}

		{{input categories hintTranslation="calendar.vcomponent.form.categories.hint" labelTranslation="calendar.vcomponent.form.categories.label"}}

		{{!--
		{{classOptions}}
		{{classSelected}}
		input class as="select" collection=classOptions selection=classSelected optionValuePath=content.id optionLabelPath=content.name
			optionValuePath="content.id" optionLabelPath="content.name" classSelected --}}
		{{input class hintTranslation="calendar.vcomponent.form.class.hint" labelTranslation="calendar.vcomponent.form.class.label"}}

		{{input dtstart as="date" hintTranslation="calendar.vcomponent.form.dtstart.hint" labelTranslation="calendar.vcomponent.form.dtstart.label"}}

		{{input url as="url" hintTranslation="calendar.vcomponent.form.url.hint" labelTranslation="calendar.vcomponent.form.url.label"}}


		{{!-- vcomponenttime mixing: (only events & todos)
		UnUsed attrs:
		geo, resources	//Descriptive
		--}}
		{{#unless isJournal}}
			{{input location hintTranslation="calendar.vcomponenttime.form.location.hint" labelTranslation="calendar.vcomponenttime.form.location.label"}}

			{{input priority hintTranslation="calendar.vcomponenttime.form.priority.hint" labelTranslation="calendar.vcomponenttime.form.priority.label"}}

			{{input duration hintTranslation="calendar.vcomponenttime.form.duration.hint" labelTranslation="calendar.vcomponenttime.form.duration.label"}}
		{{/unless}}

		{{!-- only todos
		UnUsed attrs:
		percent_complete, completed
		--}}
		{{#if isTodo}}
			{{input due as="date" hintTranslation="calendar.vtodo.form.due.hint" labelTranslation="calendar.vtodo.form.due.label"}}
		{{/if}}

		{{!-- only events
		UnUsed attrs:
		transp
		--}}
		{{#if isEvent}}
			{{input dtend as="date" hintTranslation="calendar.vevent.form.dtend.hint" labelTranslation="calendar.vevent.form.dtend.label"}}
		{{/if}}

		<div class="form-group">
			<div class="col-sm-offset-1 col-sm-10">
				<br />
				{{#bs-button type="primary" large=true block=true clicked="submit" clickedParam="this"}}{{t calendar.form.save}}{{/bs-button}}
				{{submit}}
			</div>
		</div>
	</form>
	<div class="clearfix"></div>
</div>


{{/form-for}}
