<div class="row">
	<div class="col-xs-12">
		<h3 class="text-center">Configuration</h3>
	</div>
	<div class="col-xs-12">
		<ul class="media-list text-center">
			<li class="media">
				{{!--<a class="pull-left" href="#"><img class="media-object" src="..." alt="..."></a>--}}
				<div class="media-body">
					<h4 class="media-heading">Language:</h4>
					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button type="button" {{bind-attr class=":btn :btn-default inEnglish:active"}} {{action "trEnglish"}}>English</button>
						</div>
						<div class="btn-group">
							<button type="button" {{bind-attr class=":btn :btn-default enCatala:active"}} {{action "trCatala"}}>Català</button>
						</div>
					</div>
				</div>
			</li>
			<li class="media">
				{{!--<a class="pull-left" href="#"><img class="media-object" src="..." alt="..."></a>--}}
				<div class="media-body">
					<h4 class="media-heading">Theme:</h4>
					{{theme}}
				</div>
			</li>
			<li class="media">
				{{!--<a class="pull-left" href="#"><img class="media-object" src="..." alt="..."></a>--}}
				<div class="media-body">
					<h4 class="media-heading">Location:</h4>
					{{location}}
				</div>
			</li>

		</ul>
	</div>
</div>
<br />

{{!--
<div class="media img-rounded">
	<div class="media-object-container pull-left">
		<!-- https://es.gravatar.com/site/implement/images/	md5( strtolower( trim( "MyEmailAddress@example.com " ) ) );
		<img class="media-object pull-left img-rounded" src="http://www.gravatar.com/avatar/12341234?d=wavatar&r=x&s=35&f=y" /> -->
		<img class="media-object img-rounded" src="img/uploads/Familia.png">
	</div>
	<div class="media-body">
		<div class="row-fluid">
			<div class="span3">
				<small>Username:</small>
				<h3 class="media-heading">Lenin Gols</h3>
			</div>
			<div class="span3">
				<small>Location:</small>
				<h5 class="media-description">{{location}}</h5>
			</div>
			<div class="span3">
				<small>Language:</small>
				<h5 class="media-description">{{language}}</h5>
			</div>
			<div class="span3">
				<small>Theme:</small>
				<h5 class="media-description">{{theme}}</h5>
			</div>
		</div>
	</div>
</div>
--}}
