<div class="row">
	<div class="col-md-8 col-md-offset-2" style="background-color: whitesmoke;">
		{{#if hasCalendars}}
		<h1>
			Calendars <small>(or Contexts) {{#bs-button clicked="showNewCalendar"}}<span class="glyphicon glyphicon-plus"></span> {{t calendar.addNew}}{{/bs-button}}</small>
		</h1>
		{{#if showAddNewCalendar}}
			{{partial "index-add-new-calendar"}}
		{{/if}}
		<div class="list-group">
		{{#each savedCalendars}}
			{{!--#link-to 'howmany' this classNames='list-group-item'}}{{/link-to--}}
				{{!--vcalendar-listitem vcalendar=this--}}
				{{vcalendar-listitem tagName='a' classNames='list-group-item' vcalendar=this goTo="btnLinkTo" removeCalendar="removeCalendar" editCalendar="editCalendar" saveCalendar="saveCalendar" param=this}}
		{{/each}}
		</div>

		{{else}}

		<h1>You don't have any calendars <small>(or Contexts)</small></h1>

		{{partial "index-add-new-calendar"}}

		{{/if}}

		{{!--partial "index-actions"--}}
		{{!--
		<br />
		<br />
		<span>Transaltion test: {{t home.test}}</span>
		--}}
		<br />
	</div>
</div>
