<br />
<br />
<div class="row">
    <div class="col-xs-2">
        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    <center>Item views</center>
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button class="btn btn-default btn-lg btn-block active" type="button" {{action showIconsView}}>Icons</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-default btn-lg btn-block" type="button" {{action showListView}}>List</button>
                        </div>
                    </div>
                    {{!--bs-btn-group contentBinding="itemViewSelector" selectedBinding="itemViewSelected"--}}
                    {{!--itemViewSelected--}}
                </div>
            </div>
            {{!--
            <div class="row">
                <div class="col-xs-6">
                    {{#bs-button large=true block=true clicked="toggleProperty" clickedParam="hideHistory"}}Icons{{/bs-button}}
                </div>
                <div class="col-xs-6">
                    {{#bs-button large=true block=true clicked="toggleProperty" clickedParam="hideWindRose"}}List{{/bs-button}}
                </div>
            </div>
            --}}
        </div>
        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    <center>Acomplished graphs</center>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{#bs-button large=true block=true clicked="toggleProperty" clickedParam="hideHistory"}}History{{/bs-button}}
                </div>
                <div class="col-xs-6">
                    {{#bs-button large=true block=true clicked="toggleProperty" clickedParam="hideWindRose"}}WindRose{{/bs-button}}
                </div>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-xs-12">
                    <center>Tags</center>
                </div>
            </div>
            {{#each tag in tags}}
                {{#unless tag.parent}}
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-block" data-toggle="collapse" data-target="#HowManysBigIcons{{unbound tag.name}}">{{{unbound tag.name}}}</button>
                            <div class="row collapse in" id="HowManysBigIcons{{unbound name}}">
                                {{#each tag.children}}
                                    <div class="col-xs-6 pull-left" style="margin-top: 5px;">
                                        <button type="button" class="btn btn-block">
                                            {{#if icon}}<i class="fa fa-{{unbound icon}}"></i> <br />{{/if}}
                                            {{{unbound name}}}
                                        </button>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <br />
                {{/unless}}
            {{/each}}
        </div>
    </div>
    <div class="col-xs-10">
        <div {{bind-attr class=":row hideHistory:hidden"}}>
            <div class="col-xs-12">
                <center class="well">
                    <img src="/img/tests/HowManyHomeHistory.png" />
                </center>
            </div>
        </div>
        <div {{bind-attr class=":row hideWindRose:hidden"}}>
            <div class="col-xs-12">
                <center class="well">
                    <img src="/img/tests/HowManyHomeRosaDelsVents.png" />
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div style="background-color: whitesmoke;">
                    <h1>Events Without Date (Tasks)</h1>
                    {{#if isIconSelected}}
                    <ol>
                        <li draggable="true">Event 1: icon</li>
                        <li>Event 2: icon</li>
                    </ol>
                    {{/if}}
                    {{#if isListSelected}}
                    <ol>
                        <li>Event 1: list</li>
                        <li>Event 2: list</li>
                    </ol>
                    {{/if}}
                </div>
            </div>
            <div class="col-xs-6">
                <div style="background-color: whitesmoke;">
                    <h1>Events With Date (Events & Journals)</h1>
                    {{#if isIconSelected}}
                    <ol>
                        <li>Event 1: icon</li>
                        <li>Event 2: icon</li>
                    </ol>
                    {{/if}}
                    {{#if isListSelected}}
                    <ol>
                        <li>Event 1: list</li>
                        <li>Event 2: list</li>
                    </ol>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>